<form [formGroup]="stateForm" class="searchbar">
  <mat-form-field>
    <mat-label>Wyszukaj...</mat-label>
    <input
      type="text"
      matInput
      placeholder="Szukaj"
      formControlName="stateGroup"
      [matAutocomplete]="autoGroup"
    />
    <mat-autocomplete #autoGroup="matAutocomplete">
      <ng-container *ngFor="let mainGroup of groupOptions | async">
        <mat-optgroup [label]="mainGroup.name">
          <mat-optgroup
            [label]="subgroup.letter"
            *ngFor="let subgroup of mainGroup.subgroups"
          >
            <mat-option [value]="name" *ngFor="let name of subgroup.names">
              {{ name }}
            </mat-option>
          </mat-optgroup>
        </mat-optgroup>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</form>
