.profile
  display: flex
  flex-wrap: wrap
  width: 90dvw
  justify-content: center
  margin: 10dvh auto
  gap: 2rem

.user-profile
  display: flex
  flex-direction: column
  flex: 1 2
  border: 1px solid white
  border-radius: 10px
  padding: 2rem
  height: 30dvh

////////////////////////////////////////////////////////////////////////////////////////////////
// PROFIL
////////////////////////////////////////////////////////////////////////////////////////////////
// TABELA
////////////////////////////////////////////////////////////////////////////////////////////////

.wrapper
  flex: 1 2
  height: 50dvh
  overflow: auto

.example-detail-row
  height: 0

.example-element-row td
  border-bottom-width: 0

.example-element-detail
  overflow: hidden
  display: flex

.detail-table
  background: #b7b7b773
  text-align: center
  width: 100%

.visible-row:hover
  cursor: pointer

.car__image
  max-width: 300px
  margin: 0 auto
