.profile
  display: flex
  flex-wrap: wrap
  width: 90dvw
  justify-content: center
  margin: 10dvh auto
  padding-bottom: 10dvh
  gap: 2rem

.user-profile
  display: flex
  flex-direction: column
  flex: 1 2
  border: 1px solid white
  border-radius: 10px
  padding: 2rem
  // height: 30dvh 

.profile-card
  display: flex
  flex-direction: row
  height: 100%
  padding: 1.5rem
  gap: 1.5rem

.profile-card__left
  flex: 0.333
  display: flex
  flex-direction: column
  justify-content: center

.profile-card__left__image
  width: 100%
  margin: 0 auto
  pointer-events: none
  user-select: none

.profile-card__right
  border-left: 1px solid rgba(0, 0, 0, 0.12)
  flex: 0.667
  display: flex
  flex-direction: column
  justify-content: center
  gap: 10%

.profile-card__right__email, .profile-card__right__card__number
  margin-bottom: 0.5rem

.profile-card__title
  font-weight: bold
  letter-spacing: 0.2rem
  font-size: x-large

////////////////////////////////////////////////////////////////////////////////////////////////
// PROFIL
////////////////////////////////////////////////////////////////////////////////////////////////
// TABELA
////////////////////////////////////////////////////////////////////////////////////////////////

.wrapper
  flex: 1 2
  height: 60dvh
  overflow: auto

.example-detail-row
  height: 0

.example-element-row td
  border-bottom-width: 0

.example-element-detail
  overflow: hidden
  display: flex

.detail-table
  background: #b7b7b773
  text-align: center
  width: 100%
  border-bottom: 1px solid rgba(0,0 , 0, 0.5)

.detail-table:hover
  background: #83828273

.visible-row:hover
  cursor: pointer

.car__image
  max-width: 200px
  margin: 0 auto
  pointer-events: none
  user-select: none
