.form
  margin: 0 auto
  // margin-top: 20dvh
  width: 90dvw
  border: 1px solid white
  border-radius: 10px
  padding: 2rem
  display: flex
  flex-direction: column
  gap: 1rem

.title
  font-size: xx-large
  font-weight: bold
  text-align: center

.datepicker
  width: 100%
  display: flex

.price
  text-align: center

.buttons
  width: 50%
  margin: 0 auto

.buttons__primary-button
  border: 1px solid #ebeb5e
  border-color: #ebeb5e !important
  // color: #ebeb5e !important
  font-weight: bold
  text-shadow: 0 0 10px #ebeb5e

.buttons__secondary-button
  border-color: #ebeb5e !important
  color: whitesmoke !important

.old-price
  color: red
  text-decoration: line-through

.new-price
  color: green
