<ng-container *ngIf="isLoggedIn">
  <form id="rent" class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 class="title">Wypożycz to auto:</h1>
    <div class="!flex flex-col"></div>

    <div class="datepicker">
      <mat-form-field appearance="fill" class="!mx-auto">
        <mat-label>Okres wypożyczenia</mat-label>
        <mat-date-range-input
          [required]="true"
          [rangePicker]="rangePicker"
          [min]="todayDate"
        >
          <input
            [defaultValue]="startTime"
            [formControl]="startTime"
            matStartDate
            placeholder="Początek"
          />
          <input
            [defaultValue]="endTime"
            [formControl]="endTime"
            matEndDate
            (dateChange)="getPriceForCar()"
            (stateChanges)="getPriceForCar()"
            placeholder="Koniec"
          />
        </mat-date-range-input>
        <mat-hint *ngIf="!(startTime || endTime)"
          >DD.MM.YYYY - DD.MM.YYYY</mat-hint
        >
        <mat-datepicker-toggle
          matIconSuffix
          [for]="rangePicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Zamknij</button>
            <button mat-raised-button color="primary" matDateRangePickerApply>
              Zatwierdź
            </button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="flex justify-center flex-col" *ngIf="endTime">
      <div class="flex text-center flex-row items-center gap-2 mx-auto">
        <mat-label class="w-fit">Czas wypożyczenia od:</mat-label>
        <ngb-timepicker
          class="flex justify-center w-fit"
          [spinners]="false"
          (ngModelChange)="getPriceForCar()"
          formControlName="timeFrom"
        ></ngb-timepicker>
      </div>
      <div class="flex text-center flex-row items-center gap-2 mx-auto mt-4">
        <mat-label class="w-fit">Czas wypożyczenia do:</mat-label>
        <ngb-timepicker
          class="flex justify-center w-fit"
          [spinners]="false"
          (ngModelChange)="getPriceForCar()"
          formControlName="timeTo"
        ></ngb-timepicker>
      </div>
    </div>

    <div class="price" *ngIf="price">
      <p *ngIf="defaultPrice !== price.dayPrice">
        Cena wypożyczenia za dzień:
        <span class="old-price">{{ defaultPrice.toFixed(2) }} zł</span>&nbsp;
        <b class="new-price">{{ price!.dayPrice.toFixed(2) }} zł</b>
        (oszczędzasz {{ (defaultPrice - price.dayPrice).toFixed(2) }} zł!)
      </p>
      <p *ngIf="defaultPrice === price.dayPrice" class="dayPrice">
        Cena wypożyczenia za dzień: <b>{{ price!.dayPrice.toFixed(2) }}</b> zł
      </p>
      <p class="wholePrice">
        Łączna kwota wypożyczenia: <b>{{ price!.wholePrice.toFixed(2) }}</b> zł
      </p>
    </div>

    <div *ngIf="loading" class="loading">
      <h3 class="mb-4 text-xl">Pobieranie danych...</h3>
      <img
        src="../../assets/tire/car-tire-wheel-icon-white.png"
        class="loading__tire"
      />
    </div>

    <div *ngIf="errorMessage" class="loading errorMessage">
      <h3>Wystąpił błąd: {{ errorMessage }}</h3>
    </div>

    <div mat-dialog-actions class="buttons flex !justify-around">
      <button
        type="button"
        mat-stroked-button
        class="buttons__secondary-button"
        (click)="resetDate()"
      >
        Zresetuj
      </button>

      <div
        matTooltip="Najpierw wypełnij powyższe pola"
        [matTooltipDisabled]="enabledSubmitionButton"
      >
        <button
          mat-raised-button
          color="primary"
          class="buttons__primary-button"
          cdkFocusInitial
          [disabled]="!enabledSubmitionButton"
        >
          Wypożycz
        </button>
      </div>
    </div>
  </form>
</ng-container>
