<mat-card class="card">
  <div class="card__image__container" routerLink="/car/{{ carData.id }}">
    <img
      class="card__image"
      [src]="'data:image/png;base64,' + carData.picture"
    />
  </div>
  <span routerLink="/car/{{ carData.id }}" class="car__title">
    <h1 class="car__name">{{ carData.brand }} {{ carData.model }}</h1>
    <h4 class="inline car__engineCapacity">
      ({{ carData.engineCapacity.toFixed(1) }} L)
    </h4>
    <h4 class="car__year">({{ carData.productionYear }})</h4>
  </span>

  <div class="card__specs">
    <span class="card__specs__single-info">
      <mat-icon>airline_seat_recline_normal</mat-icon>
      {{ carData.seats }}
    </span>
    <span class="card__specs__single-info">
      <mat-icon>settings</mat-icon>
      <ng-container *ngIf="carData.gearbox === 'MANUAL'">
        Manual.
      </ng-container>
      <ng-container *ngIf="carData.gearbox === 'AUTOMATIC'">
        Automat.
      </ng-container>
      <ng-container *ngIf="carData.gearbox === 'SEMI_AUTOMATIC'">
        Półautomat.
      </ng-container>
    </span>

    <span class="card__specs__single-info">
      <mat-icon>oil_barrel</mat-icon>
      {{ carData.fuelConsumption }}L/100KM
    </span>
  </div>

  <div class="card__price" *ngIf="carData.dayPrice">
    Cena za dobę:
    <span class="card__price__value">{{ carData.dayPrice.toFixed(2) }}zł</span>
  </div>

  <div class="card__buttons">
    <a
      routerLink="/car/{{ carData.id }}"
      mat-stroked-button
      class="card__buttons__secondary"
    >
      Więcej o aucie
    </a>
    <button
      *ngIf="!isLoggedIn"
      mat-raised-button
      (click)="openDialog()"
      class="card__buttons__primary"
    >
      Wypożycz
    </button>
    <button
      *ngIf="isLoggedIn"
      (click)="
        this.router.navigate(['car/' + carData.id], { fragment: 'rent' })
      "
      mat-raised-button
      class="card__buttons__primary"
    >
      Wypożycz
    </button>
  </div>
</mat-card>
