<div class="container">
  <h1 class="container__title">Nasze pojazdy</h1>
  <mat-divider
    style="border-top-color: aliceblue; margin-bottom: 1rem; margin-top: 0.5rem"
  ></mat-divider>
  <div class="button-container">
    <mat-form-field class="button-container__sort" appearance="fill">
      <mat-label>Sortuj</mat-label>
      <mat-select
        [(ngModel)]="selectedSort"
        (selectionChange)="onSortChange()"
        appearance="fill"
      >
        <mat-option
          *ngFor="let type of sorts"
          [value]="type"
          appearance="fill"
          >{{ type }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <button
      (click)="openDialog()"
      mat-raised-button
      extended
      class="button-container__filter"
    >
      Filtrowanie
      <mat-icon>filter_list</mat-icon>
    </button>
    <mat-button-toggle-group
      class="button-container__switch-views"
      value="grid"
      [(ngModel)]="viewMode"
      #group="matButtonToggleGroup"
    >
      <mat-button-toggle value="grid" aria-label="Auta pokazane w siatce">
        <mat-icon>grid_on</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list" aria-label="Auta pokazane w liście">
        <mat-icon>view_headline</mat-icon>
        <!-- zamienniki ikon: view_stream/ view_agenda -->
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div *ngIf="showLoader" class="loading">
    <!-- <mat-spinner></mat-spinner> -->
    <h3 class="mb-4 text-xl">Pobieranie danych...</h3>
    <img
      src="../../assets/tire/car-tire-wheel-icon-white.png"
      class="loading__tire"
    />
  </div>

  <div *ngIf="errorMessage" class="loading">
    <h3>{{ errorMessage }}</h3>
    <button
      (click)="fetchCarData()"
      mat-fab
      extended
      color="accent"
      class="loading__fetchDataButton"
    >
      <mat-icon color="primary">cached</mat-icon>
      Spróbuj ponownie
    </button>
  </div>

  <ng-container *ngIf="!showLoader && cars">
    <ng-container *ngIf="viewMode === 'grid'">
      <div class="cars__grid">
        <ng-container *ngFor="let car of carsSorted">
          <car-card [carData]="car"></car-card>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="viewMode === 'list'">
      <div class="cars__list">
        <ng-container *ngFor="let car of carsSorted">
          <car-list-element [carData]="car"></car-list-element>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="carsSorted.length < 1">
      <h3 class="text-4xl text-center mt-10">Brak dostępnych pojazdów</h3>
    </ng-container>
  </ng-container>
</div>
