.container
  margin: 0 auto
  margin-top: 1rem
  margin-bottom: 2rem
  width: 80dvw

.button-container
  display: grid
  grid-template-rows: 1fr
  grid-template-columns: 1fr 1fr 1fr
  grid-column-gap: 5px
  justify-items: center
  margin-top: 1rem
  position: relative
  grid-auto-flow: dense
  z-index: 1
  // justify-content: flex-end

.button-container__sort
  position: absolute
  grid-row-start: 1
  grid-column-start: 1
  grid-row-end: 2
  grid-column-end: 2
  // left: 11%
  justify-self: flex-start

.button-container__filter
  grid-row-start: 1
  grid-column-start: 2

  grid-row-end: 2
  grid-column-end: 3
  background-color: #fff
  color: black
  height: 100%

.button-container__switch-views
  // top: -7%
  margin-left: auto
  grid-row-start: 1
  grid-column-start: 3

  grid-row-end: 2
  grid-column-end: 4

@media only screen and (max-width: 750px)
  .button-container
    display: flex
    // flex-wrap: wrap
    flex-direction: row
    // align-items: center
    justify-content: space-around

  .button-container__sort
    display: block
    position: static
    // width: 100%

  .button-container__filter
    // width: 100%
    padding-bottom: 2rem

  .button-container__switch-views
    // width: 100%
    margin: 0
    margin-bottom: 1.5rem

.container__title
  font-size: xx-large
  // margin-top: 3rem
  // margin-bottom: 2rem
  // color: #ebeb5e
  font-weight: bold
  // display: flex
  // justify-content: center 
  text-align: center
  color: white
  letter-spacing: 1rem

// .container__title__text
  // width: 30%
  // outline: 0.5px solid rgba(235, 235, 94, 0.349)
  // border-radius: 2.5px 0 2.5px 0
  // outline-offset: 10px

.cars__grid
  margin-top: 2rem
  display: grid
  grid-gap: 1.5rem
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
  // justify-content: space-between
  // justify-items: center
  justify-items: stretch

.cars__list
  margin-top: 2rem
  display: flex
  flex-wrap: wrap
  gap: 1.5rem
  justify-content: center

.loading
  margin: 0 auto
  display: flex
  justify-content: center
  align-items: center
  margin-top: 2rem
  flex-direction: column

.loading__tire
  animation: rotation 1s infinite linear

@keyframes rotation
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

.loading__fetchDataButton
  margin-top: 1rem
