<h1 mat-dialog-title class="!font-bold">Filtrowanie:</h1>
<div mat-dialog-content>
  <p class="mb-2">Uzupełnij pola, aby przefiltrować auta:</p>
  <div class="flex flex-col">
    <mat-form-field>
      <mat-label>Marka</mat-label>
      <input matInput type="text" [(ngModel)]="data.brand" />
      <button
        *ngIf="data.brand"
        matSuffix
        mat-icon-button
        matTooltip="Wyczyść filter"
        aria-label="Clear"
        (click)="data.brand = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Model</mat-label>
      <input matInput type="text" min="0" [(ngModel)]="data.model" />
      <button
        *ngIf="data.model"
        matSuffix
        mat-icon-button
        matTooltip="Wyczyść filter"
        aria-label="Clear"
        (click)="data.model = undefined"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-slider min="0" max="500" thumbLabel tickInterval="auto">
      <input
        [(ngModel)]="data.horsePowerFrom"
        value="{{ data.horsePowerFrom }}"
        matSliderStartThumb
      />
      <input
        [(ngModel)]="data.horsePowerTo"
        value="{{ data.horsePowerTo }}"
        matSliderEndThumb
      />
    </mat-slider>
    <p>Liczba KM: {{ data.horsePowerFrom }} - {{ data.horsePowerTo }}</p>

    <mat-form-field>
      <mat-label>Napęd</mat-label>
      <mat-select [(ngModel)]="data.drive">
        <mat-option>Wszystkie</mat-option>
        <mat-option value="FWD">Na przód</mat-option>
        <mat-option value="RWD">Na tył</mat-option>
        <mat-option value="AWD">Na cztery koła</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Skrzynia biegów</mat-label>
      <mat-select [(ngModel)]="data.gearbox">
        <mat-option>Wszystkie</mat-option>
        <mat-option value="AUTOMATIC">Automatyczna</mat-option>
        <mat-option value="MANUAL">Manualna</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data wypożyczenia (od-do)</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker">
        <input [(ngModel)]="data.from" matStartDate placeholder="Początek" />
        <input [(ngModel)]="data.to" matEndDate placeholder="Koniec" />
      </mat-date-range-input>
      <mat-hint>DD.MM.YYYY - DD.MM.YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="rangePicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Zamknij</button>
          <button mat-raised-button color="primary" matDateRangePickerApply>
            Zatwierdź
          </button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="data.available">
      Aktualnie zajęte auta</mat-checkbox
    >
  </div>
</div>
<div mat-dialog-actions class="flex !justify-around">
  <button mat-stroked-button color="accent" (click)="onNoClick()">
    Zamknij
  </button>
  <button mat-stroked-button color="accent" (click)="onClear()">
    Zresetuj
  </button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Zatwierdź
  </button>
</div>
