<h1 mat-dialog-title class="!font-bold">Filtrowanie:</h1>
<div mat-dialog-content *ngIf="!showLoader">
  <p class="mb-2">Uzupełnij pola, aby przefiltrować auta:</p>
  <div class="flex flex-col">
    <mat-form-field>
      <mat-label>Marki</mat-label>
      <mat-select
        [(ngModel)]="data.queryParams.brand"
        (selectionChange)="data.queryParams.model = undefined"
      >
        <mat-option value="">Wszystkie</mat-option>
        <mat-option *ngFor="let marka of cars" value="{{ marka.brand }}">{{
          marka.brand
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Modele</mat-label>
      <mat-select [(ngModel)]="data.queryParams.model">
        <ng-container>
          <mat-option value="">Wszystkie</mat-option>
          <ng-container *ngFor="let marka of cars">
            <ng-container *ngIf="marka.brand === data.queryParams.brand">
              <mat-option
                *ngFor="let model of marka.models"
                value="{{ model }}"
                >{{ model }}</mat-option
              >
            </ng-container>
          </ng-container>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data wypożyczenia (od-do)</mat-label>
      <mat-date-range-input
        [required]="true"
        [rangePicker]="rangePicker"
        [min]="todayDate"
      >
        <input
          [(ngModel)]="data.queryParams.from"
          matStartDate
          placeholder="Początek"
        />
        <input
          [(ngModel)]="data.queryParams.to"
          matEndDate
          placeholder="Koniec"
        />
      </mat-date-range-input>
      <mat-hint *ngIf="!(data.queryParams.from || data.queryParams.to)"
        >DD.MM.YYYY - DD.MM.YYYY</mat-hint
      >
      <mat-datepicker-toggle
        matIconSuffix
        [for]="rangePicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Zamknij</button>
          <button mat-raised-button color="primary" matDateRangePickerApply>
            Zatwierdź
          </button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>

    <div class="flex" *ngIf="data.queryParams.from || data.queryParams.to">
      <div
        *ngIf="data.queryParams.from"
        class="flex gap-1 flex-col text-center"
      >
        <mat-label>Czas wypożyczenia (od)</mat-label>
        <ngb-timepicker
          class="flex justify-center"
          [spinners]="false"
          [(ngModel)]="data.time.from"
          *ngIf="data.queryParams.from"
        ></ngb-timepicker>
      </div>
      <div *ngIf="data.queryParams.to" class="flex gap-1 flex-col text-center">
        <mat-label>Czas wypożyczenia (do)</mat-label>
        <ngb-timepicker
          class="flex justify-center"
          [spinners]="false"
          [(ngModel)]="data.time.to"
          *ngIf="data.queryParams.to"
        ></ngb-timepicker>
      </div>
    </div>

    <mat-slider
      [min]="filters.minHorsepower"
      [max]="filters.maxHorsepower"
      discrete="true"
    >
      <input
        [(ngModel)]="data.queryParams.horsePowerFrom"
        value="{{ data.queryParams.horsePowerFrom }}"
        matSliderStartThumb
      />
      <input
        [(ngModel)]="data.queryParams.horsePowerTo"
        value="{{
          data.queryParams.horsePowerTo
            ? data.queryParams.horsePowerTo
            : filters.maxHorsepower
        }}"
        matSliderEndThumb
      />
    </mat-slider>

    <mat-form-field>
      <mat-label>Napęd</mat-label>
      <mat-select [(ngModel)]="data.queryParams.drive">
        <mat-option>Wszystkie</mat-option>
        <mat-option value="FWD">Na przód</mat-option>
        <mat-option value="RWD">Na tył</mat-option>
        <mat-option value="AWD">Na cztery koła</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Skrzynia biegów</mat-label>
      <mat-select [(ngModel)]="data.queryParams.gearbox">
        <mat-option>Wszystkie</mat-option>
        <mat-option value="AUTOMATIC">Automatyczna</mat-option>
        <mat-option value="SEMI_AUTOMATIC">Półautomatyczna</mat-option>
        <mat-option value="MANUAL">Manualna</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="data.queryParams.available">
      Aktualnie zajęte auta</mat-checkbox
    >
  </div>
</div>
<div mat-dialog-actions class="flex !justify-around">
  <button mat-stroked-button color="accent" (click)="onNoClick()">
    Zamknij
  </button>
  <button mat-stroked-button color="accent" (click)="onClear()">
    Zresetuj
  </button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Zatwierdź
  </button>
</div>
