<div>
  <div routerLink="/" class="logo">
    <img
      class="logo__image"
      src="../assets/logo/logo-white.png"
      alt="Logo strony"
    />
    <h3 class="logo__text">
      Wyp<span class="logo__text__letter--o"></span>życzalnia aut
    </h3>
  </div>
</div>

<div class="tire-pattern"></div>

<nav mat-tab-nav-bar [tabPanel]="tabPanel" color="primary">
  <ng-container *ngFor="let link of routes; let i = index">
    <searchbar *ngIf="i === 6"></searchbar>
    <a
      *ngIf="link.data"
      mat-tab-link
      [routerLink]="link.path"
      [active]="'/' + link.path == activeLink"
      class="navigation__label--color"
    >
      {{ link.data["title"] }}
    </a>
  </ng-container>
  <button
    *ngIf="!isLoggedIn"
    (click)="openDialog()"
    mat-raised-button
    class="login__button"
  >
    Zaloguj się<mat-icon>perm_identity</mat-icon>
  </button>

  <ng-container *ngIf="isLoggedIn">
    <button
      mat-fab
      color="primary"
      class="!border-double !border-black ml-2 outline-2"
      extended
      [matMenuTriggerFor]="menu"
      aria-label="Rozwijane menu konta"
    >
      <mat-icon>person</mat-icon>
      Twoje konto
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="this.router.navigate(['/profile'])">
        <mat-icon>perm_identity</mat-icon>
        <span>Profil</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>logout</mat-icon>
        <span>Wyloguj się</span>
      </button>
    </mat-menu>
  </ng-container>
</nav>

<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
