// nav
//   background-color: #333
//   ul
//     list-style: none
//     padding: 0
//     display: flex
//     li
//       margin-right: 20px
//       a
//         color: white
//         text-decoration: none
//         &:hover
//           text-decoration: underline
//       a .active
//           text-decoration: underline

.logo
  margin: 1rem auto
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  transition: transform .2s ease-in-out
  -webkit-transition: -webkit-transform .2s ease-in-out
  width: fit-content

  &:hover
    cursor: pointer
    transform: scale(1.1)

.logo__image
  width: 10rem

@import url('https://fonts.googleapis.com/css2?family=Genos:wght@700&display=swap')

.logo__text
  display: block
  text-transform: uppercase
  font-family: 'Genos'
  font-size: 2rem

.logo__text__letter--o
  content: ""
  display: inline-block
  width: 1.5rem
  height: 1.5rem
  background-image: url('../../assets/tire/car-tire-wheel-icon-white.png')
  background-size: contain
  background-repeat: no-repeat
  vertical-align: middle
  margin: 0 0.125rem

.logo:hover .logo__text__letter--o
  -webkit-animation: rotating 2s linear infinite
  -moz-animation: rotating 2s linear infinite
  -ms-animation: rotating 2s linear infinite
  -o-animation: rotating 2s linear infinite
  animation: rotating 2s linear infinite

.login__button
  margin-left: 0.5rem
  margin-right: 0.5rem
  align-self: center

.mat-mdc-tab-link .mdc-tab__text-label
  // color: #e4ec00 !important
  color: #fff !important

// .mat-mdc-tab-link
//   background: rgb(73,73,73)
//   background: linear-gradient(180deg, rgba(47,46,46,1) 34%, rgba(228,236,0,0.17689073920583853) 100%) !important

.tire-pattern
  background: url("../../assets/tire/tire-pattern/tire-pattern-white.png")
  background-repeat: repeat-x
  height: 70px
  margin-top: 1rem
  background-position: 0% 0

.tire-pattern:hover
  animation: moveRight 10s linear infinite

@keyframes moveRight
  0%
    background-position: 0% 0

  100%
    background-position: 100% 0

@keyframes rotating
  from
    -ms-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)

  to
    -ms-transform: rotate(360deg)
    -moz-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    transform: rotate(360deg)
