<div class="list-element">
  <img
    class="card__image"
    [src]="'data:image/jpeg;base64,' + carData.picture"
  />

  <span class="car__title">
    <h1 class="car__name">{{ carData.brand }} {{ carData.model }}</h1>
    <h4 class="car__year">({{ carData.productionYear }})</h4>
  </span>

  <div class="car__specs">
    <span class="car__specs__single-info">
      <mat-icon>airline_seat_recline_normal</mat-icon>
      {{ carData.seats }}
      <!-- Liczba osób (int) -->
    </span>
    <span class="car__specs__single-info">
      <mat-icon>settings</mat-icon>
      {{ carData.gearbox }}
      <!-- Rodzaj skrzyni (AUTOMAT/ MANUAL) -->
    </span>

    <span class="car__specs__single-info">
      <mat-icon>oil_barrel</mat-icon>
      {{ carData.fuelConsumption }}L/100KM
      <!-- Spalanie paliwa INT/KM -->
    </span>
  </div>

  <div class="car__buttons">
    <button mat-stroked-button>Więcej o aucie</button>
    <button mat-raised-button>Wypożycz</button>
  </div>
</div>
