<div class="list-element">
  <div class="card__image__container" routerLink="/car/{{ carData.id }}">
    <img
      class="card__image"
      [src]="'data:image/png;base64,' + carData.picture"
    />
  </div>

  <div class="grid__right">
    <span routerLink="/car/{{ carData.id }}" class="car__title">
      <h1 class="car__name">{{ carData.brand }} {{ carData.model }}</h1>
      <h4 class="inline car__engineCapacity">
        ({{ carData.engineCapacity.toFixed(1) }} L)
        <h4 class="car__year">({{ carData.productionYear }} r.)</h4>
      </h4>
    </span>

    <p class="car__description">{{ carData.description }}</p>

    <div class="car__specs">
      <span class="car__specs__single-info">
        <mat-icon>airline_seat_recline_normal</mat-icon>
        {{ carData.seats }}
      </span>
      <span class="car__specs__single-info">
        <mat-icon>settings</mat-icon>
        <ng-container *ngIf="carData.gearbox === 'MANUAL'">
          Manualna
        </ng-container>
        <ng-container *ngIf="carData.gearbox === 'AUTOMATIC'">
          Automatyczna
        </ng-container>
        <ng-container *ngIf="carData.gearbox === 'SEMI_AUTOMATIC'">
          Półautomatyczna
        </ng-container>
      </span>

      <span class="car__specs__single-info">
        <mat-icon>oil_barrel</mat-icon>
        {{ carData.fuelConsumption }}L/100KM
      </span>
    </div>

    <div class="car__buttons">
      <a
        routerLink="/car/{{ carData.id }}"
        mat-stroked-button
        class="car__buttons__secondary"
      >
        Więcej o aucie
      </a>
      <button mat-raised-button class="car__buttons__primary">Wypożycz</button>
    </div>
  </div>
</div>
