<ng-container *ngIf="typeOfForm === 'LOGIN'">
  <h1 mat-dialog-title class="!font-bold text-center">Logowanie:</h1>
  <h2 class="" *ngIf="successfulMessage">{{ successfulMessage }}</h2>
  <form [formGroup]="form" (ngSubmit)="onLogin()">
    <div mat-dialog-content class="!flex flex-col">
      <mat-form-field>
        <mat-label>Login (lub nr telefonu lub e-mail)</mat-label>
        <input required matInput id="login" formControlName="login" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Hasło</mat-label>
        <input
          required
          id="password"
          formControlName="password"
          matInput
          [type]="hidePassword ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Zmień widoczność hasła'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <p
        class="text-xl text-red-500 font-bold text-center"
        *ngIf="invalidField"
      >
        {{ invalidField }}
      </p>
      <p
        class="text-xl text-red-500 font-bold text-center"
        *ngIf="errorMessage"
      >
        {{ errorMessage }}
      </p>
    </div>

    <div mat-dialog-actions class="flex !justify-around">
      <button
        mat-stroked-button
        color="accent"
        mat-dialog-close
        (click)="onNoClick()"
      >
        Zamknij
      </button>

      <button mat-stroked-button (click)="switchForms()">
        Nie masz konta? Zarejestruj się
      </button>

      <button mat-raised-button color="primary" cdkFocusInitial>
        Zaloguj się
      </button>
    </div>
  </form>
</ng-container>

<!-- ------------------------------------------------------------------------------------------------------ -->
<!-- --------------------------------------------LOGOWANIE------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------ -->
<!-- -------------------------------------------REJESTRACJA------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------ -->

<ng-container *ngIf="typeOfForm === 'REGISTER'">
  <h1 mat-dialog-title class="!font-bold">Rejestracja:</h1>
  <form [formGroup]="form" (ngSubmit)="onRegister()">
    <div mat-dialog-content class="!flex flex-col">
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input
          matInput
          type="login"
          id="login"
          formControlName="login"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nr telefonu (format: 123-456-789)</mat-label>
        <input
          matInput
          type="tel"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"
          id="phoneNumber"
          formControlName="phoneNumber"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Adres e-mail</mat-label>
        <input
          matInput
          type="email"
          id="email"
          formControlName="email"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Hasło</mat-label>
        <input
          formControlName="password"
          required
          matInput
          [type]="hidePassword ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Zmień widoczność hasła'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Powtórz hasło</mat-label>
        <input
          formControlName="repeatPassword"
          required
          matInput
          [type]="hideRepeatPassword ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideRepeatPassword = !hideRepeatPassword"
          [attr.aria-label]="'Zmień widoczność powtarzanego hasła'"
          [attr.aria-pressed]="hideRepeatPassword"
        >
          <mat-icon>{{
            hideRepeatPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          required
          type="firstName"
          id="firstName"
          placeholder="Imię"
          formControlName="firstName"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          required
          type="lastName"
          id="lastName"
          placeholder="Nazwisko"
          formControlName="lastName"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Numer karty kredytowej</mat-label>
        <input
          formControlName="ccNumber"
          matInput
          required
          type="tel"
          ccNumber
          #ccNumber="ccNumber"
        />
        <span class="scheme">{{ ccNumber.resolvedScheme$ | async }}</span>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data ważności karty</mat-label>
        <input
          formControlName="ccExpDate"
          matInput
          required
          id="cc-exp-date"
          type="tel"
          autocomplete="cc-exp"
          ccExp
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>CVV/CVC</mat-label>
        <input
          formControlName="cvv"
          matInput
          required
          id="cc-cvc"
          type="tel"
          autocomplete="off"
          ccCVC
      /></mat-form-field>

      <p
        class="text-xl text-red-500 font-bold text-center"
        *ngIf="invalidField"
      >
        {{ invalidField }}
      </p>
      <p
        class="text-xl text-red-500 font-bold text-center"
        *ngIf="errorMessage"
      >
        {{ errorMessage }}
      </p>
    </div>

    <div mat-dialog-actions class="flex !justify-around">
      <button
        mat-stroked-button
        color="accent"
        mat-dialog-close
        (click)="onNoClick()"
      >
        Zamknij
      </button>

      <button mat-stroked-button (click)="switchForms()">
        Masz już konto? Zaloguj się
      </button>

      <button mat-raised-button color="primary" cdkFocusInitial>
        Zarejestruj się
      </button>
    </div>
  </form>
</ng-container>
